path/to/brain_tumor_InceptionNet.h5 filter=lfs diff=lfs merge=lfs -text
C:/Users/uday8/Documents/Projects/react/brain_tumor_InceptionNet.h5 filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
